#v-consultant {
  background: $body-background-color;
  color: $foreground-color;
  font-size: 1.3em;
}

#v-consultant main {
  background: $foreground-color;
  color: $black;
  margin: 20px auto;
  padding: 40px;
  width: 90%;

  h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }

  h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
  }

  h3 {
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  video {
    margin: 0 auto;
    display: block;
  }
}

#v-consultant address {
  color: $accent-color;
}

#v-consultant pre {
  margin: 10px;
  padding: 20px;
}

#v-consultant .logo {
  margin: 0 auto;
  display: block;
}

#v-consultant ul {
  list-style-type: square;
  list-style-position: inside;
}

#v-consultant ol {
  list-style-type: decimal;
  list-style-position: inside;
}

#v-consultant ul ul,
#v-consultant ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

#v-consultant ol ol,
#v-consultant ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}